body {
  font-family: Arial;
  margin: 0;
  background: #fff9e6;
}

header {
  background: #ff6b3d;
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  background: #222;
  padding: 10px;
  text-align: center;
}

nav button {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  background: #ff6b3d;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

nav button:hover {
  background: #ff834f;
}

.page {
  display: none;
  padding: 20px;
}

.course-card {
  background: white;
  padding: 15px;
  margin: 10px 0;
  border-left: 5px solid #ff6b3d;
  cursor: pointer;
}

.course-card:hover {
  background: #ffe3d3;
}

iframe {
  width: 100%;
  height: 250px;
  border-radius: 5px;
}

.progress {
  width: 100%;
  height: 20px;
  background: #ddd;
  border-radius: 10px;
}

#progressBar {
  height: 100%;
  width: 0%;
  background: #ff6b3d;
  border-radius: 10px;
}

.back {
  padding: 8px 12px;
  background: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}