* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #fff7e6;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 18px 30px;
  background: #ff6b3d;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.section {
  padding: 110px 20px;
}

.hero {
  text-align: center;
  padding-top: 140px;
}

.hero span {
  color: #ff6b3d;
}

.typing {
  font-size: 20px;
  font-weight: bold;
  color: #222;
  height: 25px;
}

.glow-btn {
  margin-top: 10px;
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  background: black;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 0 0px #ff6b3d;
}

.glow-btn:hover {
  box-shadow: 0 0 20px #ff6b3d;
  transform: scale(1.05);
}

.skills-box {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.skill {
  background: #ffd3be;
  padding: 8px 18px;
  border-radius: 6px;
  transition: 0.3s;
}

.skill:hover {
  transform: scale(1.1);
  background: #ffb390;
}


.project {
  background: white;
  margin: 10px 0;
  padding: 15px;
  border-radius: 6px;
  border-left: 5px solid #ff6b3d;
  transition: 0.3s;
}

.project:hover {
  transform: translateX(10px);
}


form {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, textarea {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #aaa;
}

footer {
  text-align: center;
  background: #222;
  color: white;
  padding: 10px;
}


.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: .8s;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}


@media(max-width:700px){
  nav{
    display:block;
    text-align:center;
  }
}